<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Suppress DEBUG logs for /health and /.well-known/openid-configuration -->
    <turboFilter class="es.in2.vcverifier.shared.config.SuppressEndpointLogFilter"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>